@page "/admin/upload-artwork"
@attribute [Authorize]
@using JoArtClassLib.Art
@using Microsoft.AspNetCore.Authorization
<h3>Lastopp nytt kunstverk</h3>

@code {
    private ArtworkRequest _artworkRequest;
}