@page "/biography"

<div class="container py-5">
    

    <div class="row align-items-center mb-5" data-aos="flip-left" data-aos-delay="250" data-aos-duration="1200">
        <div class="col-lg-6 text-center pe-lg-5">
            <img src="Images/IMG_1480.jpeg" class="img-fluid rounded shadow" alt="studio-picture">
        </div>
        <div class="col-lg-6 text-lg-start text-center ps-lg-5">
            <h4 class="fw-bold">Lorem ipsum.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto asperiores aut cum deleniti distinctio dolor esse expedita obcaecati quia unde! Blanditiis eligendi excepturi vel velit?...</p>
        </div>
    </div>


    <div class="row align-items-center mb-5" data-aos="flip-right" data-aos-delay="250" data-aos-duration="1200">
        <div class="col-lg-6 text-lg-end text-center pe-lg-5">
            <h4 class="fw-bold">Lorem ipsum.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur...</p>
        </div>
        <div class="col-lg-6 text-center ps-lg-5">
            <img src="Images/IMG_1481.jpeg" class="img-fluid rounded shadow" alt="studio-picture2">
        </div>
    </div>

</div>