@page "/Biography"


<div class="container py-5">
    <div class="row align-items-center">

        <div class="col-lg-7">
            <h2 class="fw-bold">Om kunstneren</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint ozzccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>


        <div class="col-lg-5 text-center">
            <img src="https://i.ibb.co/ZzDCQKCs/Skjermbilde-2025-03-20-190554.png" class="img-fluid rounded shadow" alt="Bjarne Johnsen">
        </div>
    </div>
</div>