@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>


<div class="hero-image"
     style="
            background-image: url('https://i.ibb.co/RG1m6trd/Skjermbilde-2025-03-20-185348.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 75vh;">

</div>