@page "/"

<PageTitle>Home</PageTitle>


<div class="home-navbar">
    <ul style="margin-bottom: 50px" class="nav nav-pills">
        <li class="nav-item">
            <NavLink class="nav-link" href="/">Home</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/gallery">Gallery</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/contact">Contact</NavLink>
        </li>
        <NavLink class="nav-link" href="/login">
            Login
        </NavLink>
    </ul>
</div>
<button id="buttonDesu">fisheye</button>

<h1 style="margin-bottom: 50px">Johnsen Art</h1>
<p>Welcome to your new app.</p>