.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 150px); /* leave space for nav + footer */
    padding: 2rem;
}

.login-card {
    width: 320px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


.login-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.password-toggle {
    cursor: pointer;
}

