@inherits LayoutComponentBase
@inject NavigationManager navigationManager
<!-- Row for login/logout on top right -->
<div class="row">
    <div class="col text-end py-2 px-4">
        <AuthorizeView>
            <NotAuthorized>
                <a class="nav-link d-inline" 
                   href=@($"/login?returnUrl={Uri.EscapeDataString(navigationManager.Uri)}")>Login</a>
            </NotAuthorized>
            <Authorized>
                <a class="nav-link d-inline" href="/logout">Logout</a>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

<!-- Centered logo -->
<div class="text-center py-3">
    <NavLink href="/">
        <img src="Images/JohnsenArt-logo.png"
             alt="Johnsen Art logo"
             style="height: 120px;"/>
    </NavLink>
</div>


<!-- Navigation bar -->
<div class="navbarFont">
    <nav class="navbar navbar-expand-sm border-top border-bottom py-2">
        
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Hjem</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/gallery">Kunstverk</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/biography">Biografi</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/contact">Kontakt</NavLink>
                </li>
            </ul>
        
    </nav>
</div>

<div class="grainy-background">
    @Body
    
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>




<footer class="text-center py-3">
    <small>&copy; 2025 Bjarne Johnsen</small>
</footer>