@inherits LayoutComponentBase

<!-- Centered logo -->
<div class="text-center py-4">
    <img src="Images/JohnsenArt-removebg-preview.png"
         alt="Johnsen Art logo"
         style="height: 120px;" />
</div>

<!-- Top row login/logout -->


<!-- Navigation bar -->
<div class="navbarFont">
    <nav class="navbar navbar-expand border-top border-bottom py-2">
        
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Hjem</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/gallery">Kunstverk</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/biography">Biografi</NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/contact">Kontakt</NavLink>
                </li>
                <li class="nav-item px-3">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink class="nav-link" href="/admin">Admin</NavLink>
                        </Authorized>
                    </AuthorizeView>
                </li>
            </ul>
        
        <ul class="navbar-nav">
            <AuthorizeView>
                <NotAuthorized>
                    <span class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </span>
                </NotAuthorized>
                <Authorized>
                    <span class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </span>
                </Authorized>
            </AuthorizeView>
        </ul>
    </nav>
</div>

<!-- Main content with light grey background -->
<div style="background-color: lightgrey">
    @Body
</div>

<!-- Error UI -->
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<!-- Footer -->
<footer class="text-center py-3">
    <small>&copy; 2025 Bjarne Johnsen</small>
</footer>
