@using Microsoft.AspNetCore.Components.Endpoints
@using Microsoft.AspNetCore.Components.Web
@namespace JohnsenArtGUI.Components

<!DOCTYPE html>
<html lang="en">

    

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.JSdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet"/>
    <base href="/"/>
    <link rel="stylesheet" href="CSS/app.css"/>
    <link href="JoArtGUI.styles.css" rel="stylesheet"/>

    @*Imported Google Font*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link href="_content/Syncfusion.Blazor/styles/bootstrap5.css" rel="stylesheet" />
    

    @*Bootstrap*@
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


    <!-- <link rel="stylesheet" href="JohnsenArtGUI.styles.css"/> -->
    <HeadOutlet/>
</head>

<body>

<CascadingAuthenticationState>

    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />


</CascadingAuthenticationState>

@code {

}

@*Bootstrap*@
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="_framework/blazor.web.js"></script>
<script src="_content/Bootstrap/bootstrap.bundle.min.js"></script>

<!-- CSS Animation libary -->
<script src="https://cdn.JSdelivr.net/npm/aos@2.3.4/dist/aos.JS"></script>
<link rel="stylesheet" href="https://cdnJS.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

<script>
    AOS.init();
</script>
<script>
    // Open filesystem to select a file
    window.triggerClick = (id) => {
        document.getElementById(id)?.click();
    };
</script>
<script>
    function showImageModal(url) {
        const img = document.getElementById('modalImage');
        img.src = url;
        const modal = new bootstrap.Modal(document.getElementById('imageModal'));
        modal.show();
    }
</script>
<script src="https://js.stripe.com/v3/"></script>

</body>

</html>
